* {
    box-sizing: border-box;
}

.header {
    background: black;
    color: white;
    display: flex;
    width: 100%;
}

.name {
    padding-left: 4vw;
    padding: 10;
    float: left;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    /* float: right; */
    position: absolute;
    right: 0;
    /* background-color: purple; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.stickyFooter {
    /* display: flex; */
    bottom: 0;
    width: 100%;
    background: black;
    text-align: center;
}

a {
    padding-left: 10px;
    padding-right: 10px;
}

.page {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.navbar a {
    background-color: grey;
    margin: 5px;

}

.about {
    width: 100%;
    font-size: 4vh;
    color: black;
    justify-content: center;
    
}


.profile-picture {
    height: 30vh;
    width: auto;
    border-radius: 35px;
    max-height: 350px;
    margin-top: 5vh;
}

.about h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.about img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.about p {
    text-align: center;
}

.contact p {
    display: block;
}

.contact input {
    display: block;
    width: 25vw;
}

.contact-page-info  {
    display: inline-block;
}

.contact-form {
    padding-top: 3vh;
    padding-left: 4vw;
}

.projects {
    display: block;
}

.project {
    display: flex;
    border: 10px solid black;
    width: 50vw;
    height: 30vh;
    padding: 10px;
    margin: 2px;
    background-size: 100% 100%;
    margin-bottom: 15px;
    overflow: clip;
}

.project a {
    display: inline-block;
}

.project h3 {
    padding: 5px;
    background: black;
}

.project h4 {
    padding: 5px;
    background: black;
}

.project p {
    background: grey;
}